* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: Helvetica;
	background-color: #fff1e5;
}

header img {
	display: block;
	margin: 10px auto;
	height: 300px;
	width: 500px;
}

#navigation {
	width: flex 1 1;
	font-size: 14px;
	float: left;
	overflow: hidden;
	font-family: Verdana;
}

nav li {
	display: block;
	margin: 8px;
}

.navsec {
	margin: 2px;
	padding: 2px;
	border: 1px transparent;
	background-color: #D3D3D3;
}

#blocpage {
	width: 85%;
	float: right;
}

.leftpar {
	width:49%;
	float: left;
	clear: right;
}

.rightpar {
	width: 49%;
	float: right;
	clear: left;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.imageright p {
	font-size: .9em;
	opacity: 0.7;
}

.imageleft p {
	font-size: .9em;
	opacity: 0.7;
}

.imageright {
	float:right; 
	margin-right: 10px;
}

.imageleft {
	float:left; 
	margin-left: 10px;
}

a {
	text-decoration: none;
	color: black;
}

a li {
	border-bottom: 2px solid rgba(41,217,214,.5);
}

a:hover li{
	text-decoration: none;
	background-color: rgba(41,217,214,.5);
}

p {
	margin-bottom: 20px;
	padding: : 20px;
}

#footer {
	clear: both;
	margin: 20px;
	border-top: 2px solid grey;
}

#footer p {
	clear: both;
	margin: 30px;
	text-align: center;
}